﻿@using MTYDNUG.Core.Enumerations
@using MTYDNUG.UI.Extensions
@model MTYDNUG.Core.Features.Employee.Edit.EmployeeEditModel
@{
    ViewBag.Title = "Edit Employee";
}
<h2>@ViewBag.Title</h2>
<br />
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.CurrentUsername)
    <div class="row">
        <div class="form-group col-md-4">
            @Html.FriendlyLabelFor(x => x.Username)
            @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4">
            @Html.FriendlyLabelFor(x => x.FirstName)
            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4">
            @Html.FriendlyLabelFor(x => x.MiddleName)
            @Html.TextBoxFor(x => x.MiddleName, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4">
            @Html.FriendlyLabelFor(x => x.LastName)
            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4">
            @Html.FriendlyLabelFor(x => x.DateOfBirth)
            @Html.TextBoxFor(x => x.DateOfBirth, new { @class = "form-control" })
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="form-group col-md-4">
            @Html.FriendlyLabelFor(x => x.AddressAddress1)
            @Html.TextBoxFor(x => x.AddressAddress1, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4">
            @Html.FriendlyLabelFor(x => x.AddressAddress2)
            @Html.TextBoxFor(x => x.AddressAddress2, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4">
            @Html.FriendlyLabelFor(x => x.AddressCity)
            @Html.TextBoxFor(x => x.AddressCity, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4">
            @Html.FriendlyLabelFor(x => x.AddressStateValue)
            @Html.DropDownListFor(x => x.AddressStateValue, State.GetAll().Select(x=> new SelectListItem { Text = x.DisplayName, Value = x.Value.ToString()}) , "-", new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4">
            @Html.FriendlyLabelFor(x => x.AddressZipCode)
            @Html.TextBoxFor(x => x.AddressZipCode, new { @class = "form-control" })
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="@Url.Action("Index")" class="btn btn-default">Cancel</a>
}
